.fundoCadastro {
    background-image: url(https://ik.imagekit.io/hkuorpqko/Blog%20Pessoal/login.jpg?updatedAt=1716321417699);
      background-repeat: no-repeat;
      width: 100%;
      min-height: 100vh;
      background-size: cover;
      background-position: center;
  }